@media screen and (max-width: 820px) {
  #wrapper {
    margin: 30px auto 20px auto;
  }
  /* ----------
   FONTS & SIZES
---------- */

  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.3em;
  }
  h2 {
    font-size: 1.4em;
  }

  #logo span {
    font-size: 1.5em;
  }

  #logo {
    margin: 0 0 0 20px;
    font-size: 1.6em;
  }

  #logo .border {
    width: 205px;
    margin-left: 0;
  }

  nav {
    color: var(--blue);
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    padding-top: 80px;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    transition: top 0.5s ease;
    display: none;
  }
  nav .mainMenu::before {
    content: "";
    background: url("../img/leedsLogo1280px.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 3rem;
  }
  nav .openMenu {
    display: block;
    margin: 5px 10px;
    font-size: 2rem;
  }

  nav .openMenu {
    margin: 0 20px 0 0;
  }

  nav .mainMenu li a {
    position: relative;
  }
  nav .mainMenu li a:hover {
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  /* CAROUSEL */

  .arrow {
    font-size: 3em;
    padding: 0 25px 15px 25px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
}
