/* ----------
   IMPORT FONTS
---------- */

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

/* ----------
   THE REALLY BIG ONES
---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --blue: #0c60a9;
  --lightBlue: #f3f7fa;
  --yellow: #ffe032;
}
#wrapper {
  margin: 80px auto 20px auto;
}

/* ----------
   FONTS & SIZES
---------- */

body {
  font-family: lato, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1.5px;
}
p {
  font-size: 1.3em;
}
#logo {
  font-family: century, sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
#logo span {
  font-size: 1.5em;
}
#menu {
  font-size: 1.4em;
}
h1 {
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.5em;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 100;
}

/* ----------
   GLOBAL
---------- */

body {
  background: #fff;
}
header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--blue);
}
h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
ul {
  list-style-type: none;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ----------
   HEADER
---------- */

/* LOGO */
#logo {
  margin: 0 0 0 40px;
  text-decoration: none;
}
#logo a:hover {
  text-decoration: none;
}
#logo .border {
  height: 5px;
  background-color: var(--yellow);
  width: 330px;
  margin-left: -20px;
}

/* NAV */
#menu {
  padding: 20px 30px 0 0;
  width: 100%;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  padding: 0 30px;
}

/* ----------
   HOME PAGE
---------- */

/* LATEST MATCH RESULTS */
#updatedResults {
  position: relative;
  padding: 40px 0 40px 0;
  width: 100%;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 41px 37px -45px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 41px 37px -45px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 41px 37px -45px rgba(0, 0, 0, 0.75);
}
.latestResult {
  display: flex;
  justify-content: center;
}
.homeTeam img {
  height: 130px;
}
.awayTeam img {
  height: 130px;
}
.fulltime {
  padding: 0 8%;
}
.result {
  letter-spacing: 10px;
  font-family: prompt, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}
.date {
  text-align: center;
  color: var(--blue);
  padding: 5px;
}

/* CAROUSEL */
.home-content {
  margin: 0 auto 80px auto;
}
.carousel {
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  height: 100%;
  width: 400%;
}
.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  cursor: pointer;
  font-size: 4em;
  font-weight: 500;
  padding: 0 40px 15px 40px;
  border-top: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  border-radius: 50%;
}
.left {
  left: 20px;
}
.right {
  right: 20px;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 20px;
  height: 20px;
  background: var(--yellow);
  border: 1px solid var(--blue);
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}

/* ----------
   POST PAGE
---------- */

/* MODAL CONTAINER */
#post-content {
  margin-top: 80px;
}
.postImgContainer {
  margin: 0 auto 50px auto;
  overflow: hidden;
  width: 60%;
}
.postImg {
  display: block;
  object-fit: cover;
  margin: 0 auto 50px auto;
  height: 500px;
  width: 800px;
}
.postImgContainer img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.postImgContainer img:hover {
  transform: scale(1.1);
}

/* PARAGRAPH FIX */
.content p:nth-of-type(1) {
  width: 60%;
  margin: 0 auto 50px auto;
}

/* MODAL */
.modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.big-img {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  transition: all 0.3s ease-in-out;
}
.big-img.open {
  transform: translate(-50%, -50%) scale(1);
}

/* ----------
   ABOUT PAGE
---------- */

.about-wrapper {
  padding: 80px;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.about-content p {
  margin-bottom: 50px;
}
.about-content img {
  margin-right: 80px;
}
.about-wrapper H2 {
  text-align: initial;
}

/* ----------
   BLOG PAGE
---------- */

.blog-wrapper {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog-wrapper H2 {
  font-size: 1.6em;
}

/* LOAD MORE BUTTON*/
main button {
  border-radius: 5px;
  border: 1px solid #999;
  margin: 50px auto;
  display: block;
  width: 260px;
  text-transform: uppercase;
  font-family: lato, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1.5px;
}
.blogPost {
  padding-top: 25px;
  display: grid;
  grid-template-rows: 1fr;
  width: 28%;
  margin: 25px 10px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}
.blogPost img {
  display: block;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 300px;
  margin: 0 auto 50px auto;
}

/* ----------
   FOOTER
---------- */

footer {
  grid-area: footer;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid var(--blue);
}

/* ----------
   API STUFF
---------- */

/* MAIN LOADER */
.loaderContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: ghostwhite;
  opacity: 85%;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  animation: spin 3s linear infinite;
}

/* TINY LOADER */
.loaderContainerTiny {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loaderTiny {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  animation: spin 3s linear infinite;
}

/* ALERT */
.alert {
  margin: 100px auto;
  max-width: 500px;
  padding: 30px;
  background-color: #fff;
  color: red;
  font-size: 1.2em;
}
.warning {
  font-size: 0.8em;
}

/* ----------
   CONTACT
---------- */

.contact-wrapper {
  display: grid;
  grid-template-rows: auto;
  max-width: 800px;
  margin: 80px auto 50px auto;
}
#contactForm div {
  margin-bottom: 30px;
}
.contact-info {
  font-size: 1.3em;
}
.contact-info input {
  height: 60px;
  width: 100%;
  display: block;
  font-size: 1em;
  font-weight: 100;
  padding-left: 15px;
  color: #333;
  border: 1px solid #999;
  margin-top: 10px;
  -webkit-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
}
.contact-info input:focus {
  background-color: #fff;
  color: #000;
}
.formError {
  display: none;
  font-size: 0.8em;
  color: red;
  margin-top: 8px;
}
.button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
button {
  width: 150px;
  height: 60px;
  font-size: 1em;
}
.contact {
  padding: 50px 0;
  margin-top: 100px;
  text-align: center;
  font-size: 3em;
  border-top: 1px solid #000;
}
.contact .fas {
  color: #000;
  margin-right: 10px;
}
.message .sent {
  font-weight: bolder;
  padding: 50px 25px;
  text-align: center;
  margin-bottom: 40px;
  background-color: rgb(239, 255, 239);
  border-left: 1px solid green;
  border-top: 1px solid green;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
}

/* ----------
   RECYCLED STUFF
---------- */

.posted {
  margin: 0 auto 50px auto;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

/* ----------
   KEYFRAMES
---------- */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
