@media screen and (max-width: 820px) {
  #wrapper {
    margin: 30px auto 20px auto;
  }
  /* ----------
   FONTS & SIZES
---------- */

  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    margin-bottom: 50px;
  }
  .about-wrapper {
    padding: 50px 15px 30px 15px;
  }
  .blog-wrapper {
    margin-top: 30px;
  }

  .blog-wrapper H2 {
    font-size: 1.4em;
    margin-bottom: 30px;
  }
  #logo span {
    font-size: 1.5em;
  }

  #logo {
    margin: 0 0 0 20px;
    font-size: 1.6em;
  }

  #logo .border {
    width: 205px;
    margin-left: 0;
  }

  nav {
    color: var(--blue);
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #fff;
    transition: top 0.5s ease;
    display: none;
    padding-top: 50px;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
  }
  nav .openMenu {
    display: block;
    font-size: 2rem;
  }

  nav .openMenu {
    margin: 0 20px 0 0;
  }

  nav .mainMenu li a:hover {
    background: var(--yellow);
    font-size: 1.5rem;
  }
  .active {
    border: none;
    background: var(--yellow);
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .postImg {
    height: 300px;
  }

  /* CAROUSEL */

  .arrow {
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    padding: 0;
    width: 55px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }
  .left {
    left: 15px;
  }
  .right {
    right: 15px;
  }
  /* MODAL */
  .big-img {
    width: 100%;
  }

  .about-content {
    grid-template-columns: 1fr;
  }

  .about-content img {
    padding-right: 0;
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
  }
  #post-content {
    margin-top: 50px;
  }
}
